*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* dark-mode color */
  --dark-mode-color: #242c38;

  /* border colors */
  --border-color: #cccccc;
  --dark-border-color: #777777;
  --base-border-color: #0000001a;

  /* text colors */
  --text-color: #000000bf;
  --text-light-color: #ffffffe6;
  --text-light-opaque-color: #ffffff;

  /* specialized colors */
  --icon-color: var(--text-color);
  --tooltip-color: #000000a0;
  --snackbar-color: #ffffff;
  --snackbar-bg-color: #5a5a5ab6; /* black background */
  --link-color: #ffffffe6;
  --link-hover-color: #f5f5f7;
  --modal-outer-bg-color: #000000b3;

  /* base colors */
  --outer-bg-color: #92a7b17a;
  --base-color: #f5f5f7;
  --basic-color: #aaaaaa;

  /* layers add opacity over underlying colors */
  --new-layer-color: #0000000d;
  --new-layer-x2-color: #0000001a;
  --new-layer-x3-color: #00000026;
  --down-layer-color: #ffffff4d;
  --disabled-layer-color: #000000a0;
  --base-hover-brightness: 87%;
  --base-selection-brightness: 80%;

  /* these color names are theme independent */
  --black-color: #00000011;
  --white-color: #ffffffe5;
  --disabled-color: #959595;
  --primary-color: #00729c;
  --positive-color: #009c76;
  --info-color: #9c7f00;
  --info-contrasted-color: #7b6502;
  --warning-color: #e08a00;
  --danger-color: #b73933;
  --translucent-primary-color: #00729c33;

  /* text colors are theme dependent */
  --basic-text-color: var(--text-light-opaque-color);
  --primary-text-color: var(--text-light-opaque-color);
  --positive-text-color: var(--text-light-opaque-color);
  --info-text-color: var(--text-color);
  --warning-text-color: var(--text-color);
  --danger-text-color: var(--text-light-opaque-color);

  /* font */
  --font-serif: 'Montserrat';
  --font-mono: 'JetBrains Mono';
  font-family: var(--font-serif);
  font-size: 1rem;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: var(--outer-bg-color);
}

#body.dark-mode {
  /* border colors */
  --border-color: #cccccccc;
  --dark-border-color: #777777;
  --base-border-color: #ffffff33;

  /* text colors */
  --text-color: #ffffffbf;
  --text-opaque-color: #ffffff;
  --text-light-color: #000000b3;
  --text-light-opaque-color: #000000;

  /* specialized colors */
  --icon-color: var(--text-color);
  --tooltip-color: #ffffffa0;
  --snackbar-color: #ffffff;
  --snackbar-bg-color: #828282b6; /* black background */
  --link-color: #ffffffe6;
  --link-hover-color: #f5f5f7;
  --modal-outer-bg-color: #000000b3;

  /* base colors */
  --outer-bg-color: var(--dark-mode-color);
  --base-color: #313741;
  --basic-color: #434750;

  /* layers add opacity over underlying colors */
  --new-layer-color: #ffffff0d;
  --new-layer-x2-color: #ffffff1a;
  --new-layer-x3-color: #ffffff26;
  --down-layer-color: #242c384d;
  --base-hover-brightness: 115%;
  --base-selection-brightness: 125%;

  /* these color names are theme independent */
  --black-color: #00000011;
  --white-color: #ffffffe5;
  --disabled-color: #959595;
  --primary-color: #00729c;
  --positive-color: #009c76;
  --info-color: #9c7f00;
  --warning-color: #e08a00;
  --danger-color: #b73933;

  /* text colors are theme dependent */
  --basic-text-color: var(--text-color);
  --primary-text-color: var(--text-opaque-color);
  --positive-text-color: var(--text-opaque-color);
  --info-text-color: var(--text-light-color);
  --warning-text-color: var(--text-light-color);
  --danger-text-color: var(--text-opaque-color);
}

#svelte {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  letter-spacing: -0.0125em;
  text-transform: none;
}

p,
span {
  font-weight: 400;
}

h1.disabled,
h2.disabled,
h3.disabled,
h4.disabled,
h5.disabled,
h6.disabled,
p.disabled,
span.disabled {
  color: var(--disabled-color);
}

th {
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  transition: 0.2s color ease;
  text-decoration: none;
}

a.text-color {
  color: var(--text-color);
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.no-wrap {
  white-space: nowrap;
}

.no-margin {
  margin: 0px !important;
}

.sm-v-margin {
  margin: 0.5rem 0px !important;
}

.sm-h-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

hr.divider {
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin: 1rem 0px;
}

hr.divider.no-margin {
  margin: 0px;
}

hr.divider.thin {
  border-width: 0.5px;
}

.oneline {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

span.note {
  font-size: x-small;
  filter: brightness(150%);
}

.mono {
  font-family: var(--font-mono);
}

span.xs {
  font-size: x-small;
}

span.sm {
  font-size: small;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.center {
  text-align: center;
}

.full-row {
  grid-column: 1 / -1;
}

.gridline {
  grid-column: 1 / -1;
  height: 1px;
  background: var(--border-color);
}

svg#logo {
  border-radius: 12px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 0.5s;
}

svg#logo.deactivated {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}

.ios-browser {
  display: none !important;
}

@supports (-webkit-touch-callout: none) {
  @media (display-mode: browser) {
    .ios-browser {
      display: inherit !important;
    }
  }
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 979px) {
  .no-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 979.01px) {
  .mobile {
    display: none !important;
  }
}
